#navbarSupportedContent {
  display: flex;
  justify-content: center;
}
.bg-change {
  background-image: linear-gradient(180deg, rgba(56, 149, 131, 1) ,rgba(82, 199, 143, 1) ,rgba(92, 219, 148, 1) );
  height: 100%;
}
.font {
  font-family: 'Mitr';
}
.font-head {
  font-size: 30px;
  color: white;
  text-align: left; 
  margin-left: 30px;
}
.lign-self-center {
  margin-top: 10px;
}
.font-page{
  font-size: 60px;
  color: white;
  text-shadow: 1px 1px 5px #005F48;
  margin-left: 70px;
  margin-top: -70;
}
.font-menu {
  text-align: center;
  vertical-align: text-top;
  color: #389583;
  text-decoration: none;
  font-size: 18px;
}
.font-signIn{
  color: white;
  font-size: 18px;
}
.font-icon-back {
  text-align: left;
  font-size: 20px;
  margin-left: -15px;
}
.font-main {
  text-align: center;
  font-size: 18px;
}
.font-info {
  text-align: center;
  font-size: 18px;
  margin-left: 10px;
}
.font-profile {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-left: 40px;
  margin-top: 20px;
  color: black;
}
.font-logo{
  margin-top: 20px;
  text-align: center;
  font-size: 45px;
}
.font-logo-login{
  margin-top: 20px;
  width: 300px;
  height: auto;
}
.font-signIn::placeholder {
  color: white;
}
.font-head-planting{
  color: #389583;
  font-size: 30px;
}
.font-planting{
  margin-top: 10px;
  color: #389583;
  font-size: 22px;
  font-weight: 500;
}
.font-planting-white{
  margin-top: -10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.font-planting-desc{
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.font-footer {
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  color: white;
}
.font-head-account {
  color: #389583;
  margin-left: 40px;
  margin-top: 10px;
}
.content-menu {
  background-color: #EDF5E0;
  box-sizing: border-box;
  height: 100vh;
  border-radius: 40px 0px 0px 40px;
}
.content-main {
  background-color: #EDF5E0;
  box-sizing: border-box;
  height: 100vh;
  padding: 10px;
  border-radius: 0px 40px 40px 0px;
}
.content-planting-slide{
  background-color: white;
  font-size: 20px;
  color: #389583;
  text-shadow: 1px 1px 3px #D4F490;
  font-weight: 500;
  box-shadow: 5px 5px 5px #D4F490;
  margin-bottom: 5px;
}
.content-planting {
  background-color: #8DE4AF;
  box-sizing: border-box;
}
.content-planting-col-3 {
  background-color: #8DE4AF;
  box-sizing: border-box;
}
.content-planting-add {
  background-color: white;
  box-sizing: border-box;
  margin-left: -70px;
}
.content-planting-add h1{
  text-align: center;
  margin-top: 20px;
  color: #389583;
} 
.content-signIn{
  margin-top: 40px;
}
.content-please-login{
  text-align: center;
  margin-top: 50px;
  color: #389583;
}
.content-countinfo-user {
  background-color: white;
  margin-left: -70px;
  margin-top: 10px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-head {
  width: auto;
  height: 120px;
  margin-top: 10px;
}
.logo-head-profile {
  width: auto;
  height: 60px;
}
.logo-profile {
  display: flex;
  justify-content: right;
}
.logo-menu {
  width: auto;
  height: 60px;
  margin-top: 20px;
}
.logo-user {
  width: 200px;
  height: auto;
}
.logo-signIn{
  width: 400px;
  height: auto;
}
.icon-left {
  width: 50px;
  height: auto;
}
.icon-info {
  color:#389583;
  font-size: 50px;
}
.gauge-blog {
  max-width: 450px;
  height: 200px;
}
.nav-item {
  position: relative;
  text-align: center;
}
.btn {
  background-image: linear-gradient(270deg, rgba(56, 149, 131, 1) ,rgba(82, 199, 143, 1) ,rgba(92, 219, 148, 1) );
  color: white;
  text-shadow: .5px .5px 2px #005F48;
}
.btn-menu:hover {
  background-image: linear-gradient(270deg, rgba(56, 149, 131, 1) ,rgba(82, 199, 143, 1) ,rgba(92, 219, 148, 1) );
  color: white;
  text-shadow: .5px .5px 2px #005F48;
}
.btn-login{
  margin-top: 40px;
  color: white;
  font-size: 30px;
  background: transparent;
}
.btn-login-hover:hover{
  margin-top: 40px;
  background-color: white;
  color: #389583;
  font-size: 30px;
}
.btn-add{
  background-color: #4DA9FF;
  font-size: 30px;
  color: white;
  width: 180px;
}
.btn-submit {
  background-color: #78D83D;
  font-size: 20px;
  color: white;
  width: 140px;
}
.btn-edit {
  background-color: #F7C100;
  font-size: 20px;
  color: white;
  width: 140px;
}
.btn-delete {
  background-color: #FF0000;
  font-size: 20px;
  color: white;
  width: 140px;
}
.btn-add:hover{
  box-shadow: 0px 0px 5px 3px #D4F490;
}
.btn-submit:hover{
  box-shadow: 0px 0px 5px 3px #D4F490;
}
.btn-edit:hover{
  box-shadow: 0px 0px 5px 3px #D4F490;
}
.btn-delete:hover{
  box-shadow: 0px 0px 5px 3px #D4F490;
}
.btn-download {
  background-color: #E69214;
  font-size: 20px;
  font-weight: 300;
  color: white;
  width: 200px;
}
.btn-download:hover{
  box-shadow: 0px 0px 5px 3px #D4F490;
}
.btn-plant-add-submit{
  background-color: #16A5F6;
  color: white;
  margin-right: 10px;
  font-size: 24px;
  border: none;
}
.btn-plant-add-submit:hover{
  box-shadow: 0 0 0 2px #78D83D;
}
.btn-plant-add-reset{
  background-color: #E3E3E3;
  color: black;
  margin-left: 10px;
  font-size: 24px;
  border: none;
}
.btn-plant-add-reset:hover{
  box-shadow: 0 0 0 2px #FF0000;
}
.btn-pump-off{
  background: linear-gradient(135deg, rgba(245,245,245,1) 0%, rgba(230,230,230,1) 100%);
  color: #868889;
  border: none;
  font-size: 25px;
}
.btn-pump-on{
  background-image: linear-gradient(270deg, rgba(56, 149, 131, 1) ,rgba(82, 199, 143, 1) ,rgba(92, 219, 148, 1) );
  color: white;
  border: none;
  font-size: 25px;
}
.btn-pump-on:hover{
  box-shadow: 0 0 5px 1px #6CC51D;
}
.btn-pump-off:hover{
  box-shadow: 0 0 5px 1px #6CC51D;
}
.btn-please-login{
  font-size: 35px;
  background: none;
  color: #389583;
  width: 250px;
  margin-top: 20px;
  border-style: solid;
  border-color: #389583;
}
.btn-please-login:hover{
  font-size: 35px;
  background-image: linear-gradient(270deg, rgba(56, 149, 131, 1) ,rgba(82, 199, 143, 1) ,rgba(92, 219, 148, 1) );
  color: white;
  width: 250px;
}
.btn-search {
  background-color: white;
  margin-left: 10px;
  border-style: solid;
  border-color: #78D83D;
  color: green;
}
.btn-search:hover {
  background-color: #78D83D;
  color: white;
}
.btn-edit-use {
  background-color: #F7C100;
  font-size: 16px;
  color: white;
  width: 90px;
}
.btn-delete-use {
  background-color: #FF0000;
  font-size: 16px;
  color: white;
  width: 90px;
}
.btn-edit-use:hover{
  box-shadow: 0px 0px 5px 3px #D4F490;
}
.btn-delete-use:hover{
  box-shadow: 0px 0px 5px 3px #D4F490;
}
.notify-bar {
  background-color: white;
  color: black;
  font-size: 20px;
  margin-left: -60px;
}
.shadow-box {
  box-shadow: 1px 1px 5px #6CC51D;
}
.profile-bar {
  background-color: white;
  color: black;
  font-size: 20px;
  margin-left: -80px;
}
.info-box {
  width: 500px;
  height: 40px;
  margin-left: 80px;
  margin-top: 20px;
  box-shadow: 1px 1px 5px lightgray;
}
.info-icon {
  width: 40px;
  height: auto;
}
.signIn-box {
  width: 500px;
  height: 40px;
  margin-top: 20px;
  border-color: white;
}
.form-control:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}  
.form-plant-add{
  margin-left: 40px;
  font-size: 24px;
} 
.form-plant-submit{
  width: 500px;
  margin-left: 40px;
  font-size: 24px;
} 
.form-add{
  margin-left: 40px;
  font-size: 24px;
}
.user-head th{
  background-color: #5CDB94;
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.user-list th{
  font-size: 16px;
  font-weight: 300;
  color: black;
}
.status-ON {
  color: #6CC51D;
}
.status-OFF {
  color: #FF0000;
}
.btn-ON {
  color: white;
  background:#6CC51D;
  width: 70px;
}
.btn-OFF {
  color: white;
  background:#FF0000;
  width: 70px;
}
.img-valve{
  width: 100px;
  height: auto;
}
/***************************************************   pH Gauge   pH Gauge  ***************************************************/
@keyframes progress-ph {
  0% { --percentage-ph: 0; }
  100% { --percentage-ph: calc(var(--value-ph)*100/14); }
}
@property --percentage-ph {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}
[role="progressbar-ph"] {
  --percentage-ph: var(--value-ph);
  --primary: rgba(56, 149, 131, 1) ,rgba(82, 199, 143, 1) ,rgba(92, 219, 148, 1) ;
  --secondary: lightgray; 
  animation: progress-ph 2s 0.5s forwards;
  width: 300px;
  aspect-ratio: 2 / 1;
  border-radius: 50% / 100% 100% 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
[role="progressbar-ph"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: conic-gradient(from 0.75turn at 50% 100%, 
    var(--primary) calc(var(--percentage-ph) * 1% / 2), 
    var(--secondary) calc(var(--percentage-ph) * 1% / 2 + 0.1%));
  mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
  -webkit-mask-mode: alpha;
}
.content-gauge-ph {
  display: grid;
  place-items: center;
  font-family: Mitr;
  font-size: 35px;
  color: #389583;
}
/***************************************************   temp Gauge   temp Gauge  ***************************************************/
@keyframes progress-temp {
  0% { --percentage-temp: 0; }
  100% { --percentage-temp: calc(var(--value-temp)*100/1000); }
}
@property --percentage-temp {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}
[role="progressbar-temp"] {
  --percentage-temp: var(--value-temp);
  --primary: rgba(56, 149, 131, 1) ,rgba(82, 199, 143, 1) ,rgba(92, 219, 148, 1) ;
  --secondary: lightgray; 
  animation: progress-temp 2s 0.5s forwards;
  width: 300px;
  aspect-ratio: 2 / 1;
  border-radius: 50% / 100% 100% 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
[role="progressbar-temp"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: conic-gradient(from 0.75turn at 50% 100%, 
    var(--primary) calc(var(--percentage-temp) * 1% / 2), 
    var(--secondary) calc(var(--percentage-temp) * 1% / 2 + 0.1%));
  mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
  -webkit-mask-mode: alpha;
}
.content-gauge-temp {
  display: grid;
  place-items: center;
  font-family: Mitr;
  font-size: 35px;
  color: #389583;
}
/*************************************************** Gauge point  Gauge point ***************************************************/
.gauge-point {
  height: auto;
  width: 200px;
}
.content-gauge-point {
  position: relative;
  overflow: hidden;
}
.content-gauge-point-on p1 {
  position: absolute;
  color: #389583;
  font-size: 36px;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;   
}  
.content-gauge-point-on p2 {
  position: absolute;
  color: #389583;
  font-size: 18px;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;   
}   
.content-gauge-point-off p1 {
  position: absolute;
  color: red;
  font-size: 40px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;   
}  
.content-gauge-point-off p2 {
  position: absolute;
  color: black;
  font-size: 18px;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;   
}
